body {
  background-color: #333333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 60px 70px;
  color: #ffffff;
}

h1{
  font-weight: 700;
  color: #66FF63;
  font-size: 50px;
  margin-bottom: 45px;
}
h2{
  font-size: 40px;
  margin-bottom: 35px;
  font-weight: 600;
}
p{
  margin-bottom: 35px;
}
img{
  border-radius: 20px;
}
a{
  color: #66FF63;
}